html, body
{
  height: 100%;
  margin: 0;
}

body
{
	background: rgb(184,107,255);
	background: linear-gradient(90deg, rgba(184,107,255,1) 0%, rgba(238, 183, 255) 100%);
}

.header
{
	color: rgb(41, 39, 39);font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: rgb(238, 183, 255);float: none;border-radius: 15px;
	border-top: solid rgb(184,107,255,1) 20px;
}

.logo
{
	width: 120px;margin-top: 30px;border-radius: 40px;
}

#loginButton
{
	width: 80%;border-radius: 15px;
}

.roomName
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
}


#output
{
	padding: 10px; 
	width:80%;
	background: rgba(238, 183, 255);
	border-radius: 15px;
	border-top: solid rgb(184,107,255,1) 20px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: rgb(238, 183, 255);font-size: 20px;
}


.input_div_message_page
{
	position: fixed;
	bottom: 0px;
	width: 60%;
	background: rgba(238, 183, 255);
	padding: 20px;
	border-radius: 15px;
	border-top: 15px solid rgb(184,107,255,1);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #message
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
	color:rgb(238, 183, 255);
	background-color: rgb(184,107,255,1);
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}
